<general-page>
  <div style="text-align:center">
    <h1>
      Welcome to {{title}}!
    </h1>
  </div>
  <div>
    <div *ngFor="let post of results" class="post-container">
      <div class="post-title">
        {{ post.message }}
        <span (click)="deletePost(post.id)" class="remove-comment-bttn">Delete</span>
      </div>
      <div class="post-info">
        likes: {{ post.likes }}, dislikes: {{ post.dislikes }}
      </div>
      <div class="post-comments">
        <div *ngFor="let comment of post.comments" class="comment-container">
          {{ comment.message }}
          <span (click)="deleteComment(post, comment.id)" class="remove-comment-bttn">X</span>
        </div>
      </div>
      <div class="comment-editor">
        <textarea [(ngModel)]="post.newComment" placeholder="Type a comment..." *ngIf="post.isEditorActive" ></textarea>
        <button (click)="addComment(post)">{{ post.isEditorActive ? 'cancel' : 'add comment' }}</button>
        <button (click)="commitComment(post)" *ngIf="post.isEditorActive">save</button>
      </div>
    </div>
  </div>
  <div class="post-editor">
    <div class="comment-editor">
      <textarea [(ngModel)]="newPost" placeholder="Create new post..." *ngIf="isPostEditorActive" ></textarea>
      <button (click)="addPost()">{{ isPostEditorActive ? 'cancel' : 'Create new post' }}</button>
      <button (click)="commitPost()" *ngIf="isPostEditorActive">save</button>
    </div>
  </div>
</general-page>
